<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samluys.devdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rx.RxDemoActivity"></activity>
        <activity android:name=".mvvm.LoginActivity" />
        <activity android:name=".color.ColorDemoActivity" />
        <activity android:name=".capter3.ScrollActivity" />
        <activity android:name=".day0108.TestIntDefActivity" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day1030.LaunchModeActivity" />
        <activity android:name=".day1106.LifecyclesActivity" />
        <activity android:name=".day1111.DemoViewModelActivity" />
        <activity
            android:name=".day1112.ThirdActivity"
            android:launchMode="singleTask"
            android:process=":remote" />
        <activity
            android:name=".day1112.SecondActivity"
            android:launchMode="singleTask"
            android:process="com.samluys.devdemo.remote" />
        <activity android:name=".day1113.NameActivity" />
        <activity android:name=".day1119.DemoIntentFilterActivity">
            <intent-filter>
                <action android:name="com.samluys.testaction" />
                <action android:name="com.samluys.testaction_1" />

                <category android:name="com.samluys.testcategory" />
                <category android:name="com.samluys.testcategory_1" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="www.zoe.com"
                    android:mimeType="image/*"
                    android:scheme="samluys" />
            </intent-filter>
        </activity>
        <activity android:name=".day1127.RecyclerViewMoveActivity" />
        <activity android:name=".day1203.GestureDemoActivity" />

        <service android:name=".ms.MyService" />
    </application>

</manifest>